# Linear regression with Multiple variables

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model

In [3]:
df=pd.read_excel(r"C:\Users\Preeti\Desktop\Data\Homeprice.xlsx")
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
import math
df.Bedrooms.median()

3.5

In [5]:
df.Bedrooms=df.Bedrooms.fillna(df.Bedrooms.median())
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
model=linear_model.LinearRegression()
model.fit(df.drop("Price",axis=1),df.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
model.predict([[3000,3,40]])

array([330999.05823262])

In [8]:
model.coef_

array([    198.47159002, -116583.73881651,  -14267.77585936])

In [9]:
model.intercept_

656046.5390048658

In [27]:
198.47159002*3000-116583.73881651*3-14267.77585936*40+656046.5390048658

330999.0582409359

In [28]:
model.predict([[2500,4,5]])

array([614551.67948517])